<ion-header [translucent]="true">
    <ion-toolbar *ngIf="list$ | async as list">
        <ion-buttons slot="start">
            <ion-button backButton>
                <ion-icon name="arrow-back-outline" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{ list?.name }}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="moveToBin(list)">
                <ion-icon name="trash-outline" color="danger"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="list$ | async as list">
        <ion-item-sliding *ngFor="let todo of list?.todos">
            <ion-item color="{{todo?.isDone ? 'light' : ''}}">
                <ion-label color="{{todo?.isDone ? 'medium' : ''}}">
                    <h2>{{todo?.name}}</h2>
                    <p class="ion-text-wrap" *ngIf='todo?.description !== null && todo?.description !== ""'>
                        {{ todo.description }}
                    </p>
                </ion-label>
                <ion-toggle [disabled]="!canWrite()" (ionChange)="toggleIsDone(list, todo)"
                    checked="{{ todo?.isDone }}"></ion-toggle>
            </ion-item>

            <ion-item-options side="end" *ngIf="canWrite()">
                <ion-item-option (click)="delete(list, todo)" color="danger">
                    <h2>
                        <ion-icon name="trash-outline"></ion-icon>
                    </h2>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>

        <ion-item-sliding *ngIf="list?.todos.length === 0">
            <ion-item>
                Nothing there !
            </ion-item>
        </ion-item-sliding>
    </ion-list>
</ion-content>

<ion-footer class="ion-no-padding">
    <ion-text style="opacity: 0.7" *ngIf="!canWrite()" color="primary">You don't have write access</ion-text>
    <ion-toolbar class="ion-no-padding">
        <ion-grid class="ion-no-padding">
            <ion-row class="ion-text-center" *ngIf="list$ | async as list">
                <ion-col>
                    <ion-button [disabled]="!canWrite()" expand="block" fill="clear" (click)="rename(list)">
                        <ion-icon name="pencil-outline" size="large" title="Rename the list"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="presentShareModal(list)" expand="block" fill="clear">
                        <ion-icon name="share-social" size="large"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button [disabled]="!canWrite()" expand="block" fill="clear" (click)="presentModal(list)">
                        <ion-icon name="add-outline" size="large" title="Add a new todo"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>