<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>
        Reset password
      </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content *ngIf="!resetPasswordEmailSent">
  <form [formGroup]="passwordRecoveryForm" (submit)="submit()">
      <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" required></ion-input>
          <ion-text color="danger"
                    *ngIf="passwordRecoveryForm.controls.email.touched &&
                    passwordRecoveryForm.controls.email.errors?.required">
              This field is required
          </ion-text>
          <ion-text color="danger"
                    *ngIf="passwordRecoveryForm.controls.email.touched &&
                    passwordRecoveryForm.controls.email.errors?.email">
              The email is not valid
          </ion-text>
      </ion-item>

      <ion-item lines='{{errorMessage ? "full" : "none"}}'>
          <ion-text color="danger" *ngIf="errorMessage">
              {{ errorMessage }}
          </ion-text>
      </ion-item>

      <ion-button type="submit" expand="block" [disabled]="!passwordRecoveryForm.valid">Submit</ion-button>
  </form>
</ion-content>

<ion-content *ngIf="resetPasswordEmailSent">
  <ion-card>
      <ion-card-header>
          <ion-card-title>Success !</ion-card-title>
      </ion-card-header>

      <ion-card-content>
          A reset password email has been sent. Check your inbox.
      </ion-card-content>
      <ion-card-content>
          <a [routerLink]="['/login']" [queryParams]="{replaceUrl: true}">Login</a>
      </ion-card-content>
  </ion-card>
</ion-content>