<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Share List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="shareForm" (submit)="save()">
    <ion-item>
      <ion-buttons slot="end" >
        <ion-button [disabled]="!shareForm.valid" (click)="addEmail()">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-label><ion-icon name="mail-outline"></ion-icon></ion-label>
      <ion-input name="email" formControlName="email" placeholder="email@exemple.com" required></ion-input>
      <ion-text color="danger"
                *ngIf="shareForm.controls.email.touched &&
                       shareForm.controls.email.errors?.required">
        This field is required
      </ion-text>
      <ion-text color="danger"
                *ngIf="shareForm.controls.email.touched &&
                       shareForm.controls.email.errors?.email">
        The email is not valid
      </ion-text>
    </ion-item>
    <ion-chip *ngFor="let email of emails">
      <ion-label>{{email}}</ion-label>
      <ion-icon name="close-outline" (click)="removeEmail(email)"></ion-icon>
    </ion-chip>

    <ion-button type="submit" expand="block" [disabled]="isDisable()">Partager</ion-button>
  </form>
</ion-content>
